
.Intro {
  min-height: 100vh;                    
  text-align: center;
  background-color: #44624a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 0;
}

main {
  margin: 20px 0;
}

img {
  max-width: 15%;
  height: auto;
}

h1, h3 {
  color: #f1ebe1
}

.intro-button {
  background-color: #f1ebe1; 
  border-radius: 5px;
  border: none;
  color: #44624a;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 50px;
  font-variant-caps: all-petite-caps;
}

.intro-button:hover {
  color: #000000;
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #ffff;
  text-decoration: none;
  animation: bounce 2s infinite;
  z-index: 10;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(8px);
  }
}
